apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*snowflake*.log
      tag snowflake
      <parse>
        @type json
      </parse>
    </source>

    <match snowflake>
      @type stdout
    </match>
